.social-btn {
	position: absolute;
	border: 2px solid #666633;
	padding: 10px;
	color: #FF6600; 
	background: #00ccff;
	&:hover {
		color: #FF6600; 
		text-decoration: none;
		background: darken(#00ccff, 10%);
	}
	/*text color, background color*/
}
/* add a hover style (psuedo selector) */